body{
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url(bg.jpg) no-repeat center center fixed;

}

header{
	width: 80%;
	margin: auto;
	background-color: #000000;
	color: #c1cdcd;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 7px;
}

#quotebox{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #000000;
	color: #A61919;
	font-family: 'Tangerine', cursive;
	font-size: 2.75em;
}

#gameContent{
	width: 80%;
	margin: auto;
	background-color: #000000;
	color: #c0c0c0;
	padding-bottom: 50px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.45em;
}